body {
    background-color: #000000;
  }
  
  
  h1 {
  
  font-family: archivo-black, sans-serif;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 10px;
    transition: all 1s;
    color: #e70f0e;
    font-size: 20rem;
  }

  h2 {

    font-family: archivo-black, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e70f0e;
    font-size: 4rem;
    text-align: center;
  }
  
  p {
    font-family: museo-slab, serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
  }
 .topnav {
    background-color: #000000;
    overflow: hidden;
 }

 .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
 }

 .topnav a:hover {
    color:#e70f0e;
 }

 .topnav a.active {
    color: #e70f0e;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
 }